---
import Layout from "../layouts/Layout.astro";
import ProjectCard from "../components/ProjectCard.astro";
import { getCollection, type CollectionEntry } from "astro:content";
import MainLink from "@components/MainLink.astro";
import { getEntries } from "astro:content";
import CardConatiner from "@components/CardConatiner.astro";
import CardSection from "@components/Section.astro";
import Section from "@components/Section.astro";

const projects = await getCollection("projects");
---

<Layout title="Portfolio">
  <main class="space-y-12 lg:space-y-16 xl:space-y-24 my-24">
    <div class="p-12 xl:p-20 bg-blue-600 lg:rounded-2xl xl:rounded-3xl">
      <div class="space-y-3 xl:space-y-4 mb-8 xl:mb-12">
        <h1>Hi, I'm Toldoven</h1>
        <h3>A designer and developer from Ukraine</h3>
      </div>
      <div class="space-y-4 xl:space-y-6 mb-8 xl:mb-16">
        <p>
          My biggest passion is game design and game development. I'm also a
          skilled software developer, product designer, and UI/UX designer
        </p>
        <p>
          Know a thing or two about business, marketing, graphic design, motion
          design, sound design, writing, voice acting, and video editing
        </p>
        <p>
          Currently a full-time Senior Game Developer at <MainLink
            name="LeaSoft"
            href="https://www.linkedin.com/company/leasoft/"
          /> while working on <MainLink
            name="Pen Pals' Delight"
            href="https://penpalsdelight.com"
          />
          in my spare time
        </p>
        <p>
          Previously run a commercial Minecraft server at <MainLink
            name="Plasmo RP"
            href="https://plasmorp.com"
          />
        </p>
      </div>
      <div class="space-y-8 xl:space-y-12">
        <div class="space-y-3 xl:space-y-4">
          <h3>Available for freelance work and mentoring</h3>
          <h3>
            Contact me via <MainLink
              name="Telegram"
              href="https://t.me/toldoven"
            /> or at <MainLink
              href="mailto:toldoven@proton.me"
              name="toldoven@proton.me"
            />
          </h3>
        </div>
        <div>
          <h3>
            I'm also on
            <MainLink name="GitHub" href="https://github.com/toldoven" />
            <MainLink name="itch.io" href="https://toldoven.itch.io" />
            <MainLink name="Reddit" href="https://reddit.com/u/toldoven/" />
            <MainLink name="X" href="https://x.com/toldoven" />
            <MainLink name="AniList" href="https://anilist.co/user/Toldoven/" />
          </h3>
        </div>
      </div>
    </div>

    <div id="portfolio">
      <Section title="Portfolio">
        <CardConatiner>
          {projects.map((project) => <ProjectCard project={project} />)}
        </CardConatiner>
      </Section>
    </div>
  </main>
</Layout>
