---
import { match } from 'ts-pattern'



interface Props {
    buttonStyle: "primary" | "secondary" | "blackOnYellow" | "blackOnWhite" | "whiteOnPurple"
}

const { buttonStyle } = Astro.props


let buttonStyleClass = match(buttonStyle)
    .with("primary", () => "bg-blue-600 hover:bg-blue-700 text-white")
    .with("secondary", () => "text-neutral-400 hover:bg-neutral-800 active:bg-neutral-900")
    .with("blackOnYellow", () => "bg-black hover:bg-neutral-800 text-yellow-100")
    .with("blackOnWhite", () => "bg-black hover:bg-neutral-800 text-white")
    .with("whiteOnPurple", () => "bg-white hover:bg-purple-100 text-[#5865F2]")
    // .with("black-outline", () => "bg-black hover:bg-yellow-950 text-yellow-100 border-2 border-yellow-100 hover:text-black")
    .exhaustive()


---

<button class={`font-semibold text-lg xl:text-xl px-7 py-4 xl:px-8 xl:p-5 rounded-xl transition ${buttonStyleClass}`}><slot/></button>