---
interface Props {
	title: string;
	body: string;
	href?: string;
}

const { href, title, body } = Astro.props;
---

<div class="space-y-4">
	<!-- class="space-y-4 transition bg-white p-11 text-brand rounded-2xl" -->
	<a href={href} target="_blank" class="no-underline">
		<h3>{title}</h3>
	</a>
	<div class="space-y-4">
		{body.split('\n').map(paragraph => <p>{paragraph}</p>)}
	</div>
</div>
