---
import Button from "./Button.astro";
import DiscordIcon from "./icons/DiscordIcon.astro";
---

<div class="p-12 bg-[#5865F2] lg:rounded-2xl flex flex-col lg:flex-row gap-8 lg:justify-between">
    <div class="flex gap-8 items-center">
        <DiscordIcon/>
        <div class="space-y-2">
            <!-- <h2>Toldoven's Godot Tutoring</h2> -->
            <h2>Discord server</h2>
        </div>
    </div>
    <a href="https://discord.gg/wAT7jYwvft" target="_blank">
        <Button buttonStyle="whiteOnPurple">Join the server</Button>
    </a>
</div>