---
import CardConatiner from "./CardConatiner.astro";

interface Props {
    title: string
    subtitle?: string
    center?: boolean
}

const { title, center = false, subtitle } = Astro.props

const centerClass = center ? "" : " lg:text-left"


---

<div>
    <div class={`mb-12 lg:mb-8 xl:mb-24 text-center ${centerClass}`}>
        <h1 class="text-center">{title}</h1>
        {
            subtitle && <h3 class="mt-6 text-neutral-400">{subtitle}</h3>
        }
    </div>
    <slot />
</div>