---
interface Props {
	name: string;
	href?: string;
}

const { href, name } = Astro.props;

import { Icon } from 'astro-icon/components'
---

<span>
	<a href={href} target="_blank" aria-label={name}>{name}</a>
</span>
